@using Main.Models
@model GithubRepo
@{
    
    ViewBag.Title = "ProjectDetail";
}

<h2>@Model.name</h2>
<p>
    @Model.description
</p>
<a href="@Model.html_url">Repo</a>
<br/>

<div>
@Html.Raw(@Model.ReadMe_html)
</div>



