
@{
    ViewBag.Title = "Projects";

}
<div>
    <div class="page-header">
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign"></span>
            This page is going under a total re-write at the moment. If you don't like what you see now, wait 5 minutes.
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <img src="../../Images/doesnt-work.jpg" class="img-responsive" />
            </div>
        </div>

        <p>
            Here are some of my software projects both personal and professional. Feel free to click around my
            <a href="https://github.com/JeffreyMJohnson?tab=repositories">GitHub repositories</a> yourself if you prefer.
        </p>

        <div class="h1">Work Projects</div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>Magic and Magnums</h3>
                <ul>
                    <li>Tower defense game on virtual sand box.</li>
                    <li>Implemented all unit path finding.</li>
                    <li>Shown at Game Developer's Conference (GDC) 2016</li>
                </ul>
                <iframe width="420" height="236" src="https://www.youtube.com/embed/RQ4DZulNDlM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>Intel RealSense camera Research Project</h3>
                <ul>
                    <li>Research real-time mesh generation of terrain using streamed pointcloud data.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>Texture To Mesh Unity3D Plugin</h3>
                <ul>
                    <li>Created Unity3D plugin to convert texture into vertex-colored mesh.</li>
                </ul>
            </div>
        </div>

        <h1>Current Projects</h1>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>@Html.ActionLink("Loco Ocho", "ProjectDetail", new { projectName = "Loco_Ocho" }, "Home")</h3>
                Version of card game crazy eights.
                <ul>
                    <li>Unity3D GUI System</li>
                    <li>Ported to HoloLens</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>@Html.ActionLink("JeffreyMJohnson.net", "ProjectDetail", new { projectName = "jeffreymjohnson.net" }, "Home")</h3>
                This web site.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>@Html.ActionLink("Hacker Rank Problems", "ProjectDetail", new { projectName = "HackerRank" }, "Home")</h3>
                Best practice I have found for simulating white board interview questions.
            </div>
        </div>
    </div>
    <h1>Past Projects</h1>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <h3>@Html.ActionLink("Gacha Town", "ProjectDetail", new { projectName = "GachaTown" }, "Home")</h3>
            A prototype of collection game for Mobile (Android). Final project for Game Programming course.
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>@Html.ActionLink("Atlas Engine - Sprite Atlas Tool", "ProjectDetail", new { projectName = "AtlasEngine" }, "Home")</h3>
                Sprite tool that creates a sprite sheet and atlas file from given image files. Written in C# using WPF and XAML.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>@Html.ActionLink("JMath - Linear Algebra Math Library", "ProjectDetail", new { projectName = "JMath" }, "Home")</h3>
                C++ linear algebra math library for first year coursework.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>@Html.ActionLink("Script Converter Tool", "ProjectDetail", new { projectName = "ScriptXMLConverter" }, "Home")</h3>
                Tool to convert excel xml theatrical script file to something can use in Unity3D project.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <h3>@Html.ActionLink("Katie’s Tile Game", "ProjectDetail", new { projectName = "tilegame" }, "Home")</h3>
                A simple 2D puzzle game targeted to Android mobile market. Published to Google Store.
            </div>
        </div>
    </div>
</div>